<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "slides/brushes.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "slides/face-fashion-female-girl.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "slides/maxres-default.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "slides/brows-lash-nail-queen-stoke.jpg" %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br/>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="thumbnail">
      <%= image_tag "thumbnails/chemical.jpg" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="thumbnail">
      <%= image_tag "thumbnails/hairdressing-cabinet-beauty-salon.jpg" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="thumbnail">
      <%= image_tag "thumbnails/nails-shading.jpg" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="thumbnail">
      <%= image_tag "thumbnails/cosmetology.png" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="thumbnail">
      <%= image_tag "thumbnails/makeup-product.jpg" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="thumbnail">
      <%= image_tag "thumbnails/variety-of-makeup-products.jpg" %>
    </div>
  </div>
</div>



<div class="contact-us">
  <h4 class="text-center">Contact Us</h4>
  <br/>
  <form class="form-inline text-center">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">Name</label>
      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Name">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputPassword3">Phone Number</label>
      <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Phone Number">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputPassword3">Location</label>
      <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Location">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <br/>
  <br/>
</div>  